@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&family=Schoolbell&display=swap');

body {
    font-family: 'Playpen Sans Thai', sans-serif;
    font-family: 'Schoolbell', cursive;
}