@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&family=Schoolbell&display=swap');

.body {
    font-family: 'Playpen Sans Thai', sans-serif;
    font-family: 'Schoolbell', cursive;
}

.input-field input {
    font-family: 'Playpen Sans Thai', sans-serif;
    font-family: 'Schoolbell', cursive;
    border-radius: 30px;
    border : 3px solid #000000;
    padding: 10px 20px;
    font-size: 1.5rem;
    filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.20));
}